<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="bus"></ion-icon> BusKo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-col text-center>
  Save time by knowing your bus time
    </ion-col>
  <p>

    <ion-list>

      <ion-searchbar placeholder="From" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>


      <ion-searchbar placeholder="Destintion" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>

</ion-list>
    <ion-icon name="heart"></ion-icon>
  Made at SLIIT Mini-Hackathon
  </p>
</ion-content>
